@{
    ViewData["Title"] = "Employees Data";
}
<style>
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

</style>
<h2>Employees Table</h2>
<br>
<h5>@ViewData["Message"]  </h5>
<h5> saeed is @ViewData["Employees"] </h5>
<div style="display: inline">
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone #</th>
            <th>Salary</th>
            <th>BirthDate</th>
        </tr>
        <tr>
            <th>124</th>
            <th>Ali</th>
            <th>Saeed</th>
            <th>Phone #</th>
            <th>$$$</th>
            <th>23-05-2000</th>
        </tr>
        <tr>
            <th>1522</th>
            <th>Mohammad</th>
            <th>Ali</th>
            <th>Phone #</th>
            <th>$$$</th>
            <th></th>
        </tr>
        <tr>
            <th>315</th>
            <th>Radwa</th>
            <th>Ahmad</th>
            <th>Phone #</th>
            <th>$$$</th>
            <th></th>
        </tr>
    </table>
</div>
<br>
<h6>emps has @ViewData["eSize"] rows</h6>
<ul>
  @foreach (var item in (List<string>)ViewBag.List){
        <li>
            @item
        </li>
    }
</ul>

<a asp-area="" asp-controller="Employees" asp-action="Create">Add a New Employee</a>
